{{ define "header" }}{{ partials.Include "page-header.html" . }}{{ end }}

{{ define "main" }}
<main class="pa2 pa4-ns w-100 w-90-ns center">
  {{- $post_class := "" -}}
  {{- with .File -}}
    {{- $post_class = printf "page-%s" .ContentBaseName -}}
  {{- end -}}

  <article class="{{ $post_class }} mw8 center">
    <header>
      <h1 class="page_title">
        {{ .Title }}
      </h1>
    </header>

    <div class="event-content lh-copy mb4">
      {{ .Content }}
    </div>
  </article>
</main>
{{ end }}