<h2 class="events-heading">Recent Blog Posts</h2>

<div class="recent-posts">
  <div class="recent-posts__list">
    {{ range first 2 (where .Site.RegularPages.ByDate.Reverse "Section" "posts") }}
      <article class="recent-posts__item">
        <a class="recent-posts__link" href="{{ .RelPermalink }}">
          <span class="recent-posts__title">
            {{ .Title }} →
          </span>

          <time class="recent-posts__date" datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "Jan 2, 2006" }}
          </time>
        </a>
      </article>
    {{ end }}
  </div>
</div>