{{ with site.GetPage "home-gallery" }}
  <script src="{{ "shortcode-gallery/jquery-3.7.1.min.js" | relURL }}"></script>
  <script src="{{ "shortcode-gallery/lazy/jquery.lazy.min.js" | relURL }}"></script>
  <script src="{{ "shortcode-gallery/swipebox/js/jquery.swipebox.min.js" | relURL }}"></script>
  <link rel="stylesheet" href="{{ "shortcode-gallery/swipebox/css/swipebox.min.css" | relURL }}">
  <script src="{{ "shortcode-gallery/justified_gallery/jquery.justifiedGallery.min.js" | relURL }}"></script>
  <link rel="stylesheet" href="{{ "shortcode-gallery/justified_gallery/justifiedGallery.min.css" | relURL }}">

  {{ .RenderString (dict "display" "block") "{{< gallery match=\"images/*\" sortOrder=\"asc\" rowHeight=\"150\" margins=\"5\" thumbnailResizeOptions=\"600x600 q90 Lanczos\" loadJQuery=true >}}" }}
{{ end }}