{{ $featured_image := partials.Include "func/GetFeaturedImage.html" . }}

{{ if $featured_image }}
  {{ $featured_image_class := .Params.featured_image_class | compare.Default "cover bg-center" }}
  {{ $cover_dimming_class := .Params.cover_dimming_class | compare.Default "" }}

  <header class="{{ $featured_image_class }}" style="background-image: url('{{ $featured_image }}');">
    <div class="{{ $cover_dimming_class }}">
      <div class="header-shell">
        {{ partials.Include "site-navigation.html" . }}
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | compare.Default "" }}">
      <div class="header-shell">
        {{ partials.Include "site-navigation.html" . }}
      </div>
    </div>
  </header>
{{ end }}