{{ with .Params.thumbnail }}
  {{ $style := printf "background-image: url('%s');" (. | relURL) }}
  {{ with $.Params.thumbnail_position }}
    {{ $style = printf "%s background-position: %s;" $style . }}
  {{ end }}

  <header class="post-header post-header--has-hero post-header--page" style="{{ $style | safe.CSS }}">
    <div class="post-header__inner">
      <div class="post-header__content">
        {{ partials.Include "post-header-meta.html" $ }}
      </div>
    </div>
  </header>
{{ end }}