{{ with .Params.thumbnail }}
  {{ $style := printf "background-image: url('%s');" (. | relURL) }}
  {{ with $.Params.thumbnail_position }}
    {{ $style = printf "%s background-position: %s;" $style . }}
  {{ end }}

  <header class="post-header has-hero-image" style="{{ $style | safe.CSS }}">
    <div class="post-header-inner">
        <div class="post-header-content">
            {{ if eq $.Section "posts" }}
                {{ partials.Include "blog-header-meta.html" $ }}
            {{ else }}
                {{ partials.Include "post-header-meta.html" $ }}
            {{ end }}
        </div>
    </div>
  </header>
{{ end }}