{{ $page := . }}

<h1 class="page-title">
  {{ .Title }}
</h1>

<h2 class="post-header__summary">
  {{ .Summary }}
</h2>

{{ with .Params.author | compare.Default .Site.Params.author }}
<p class="post-header__author">
    {{- if compare.Eq $page.Language "de" "en" "es" "fr" "it" "no" "pt" -}}
      {{- lang.Translate "by" -}}
    {{ end }}
<strong>
      {{- if reflect.IsSlice . -}}
        {{ collections.Delimit . ", " | transform.Markdownify }}
      {{- else -}}
        {{ . | transform.Markdownify }}
      {{- end -}}
</strong>
</p>
{{ end }}

{{ if and (not .Date.IsZero) (ne .Params.show_date false) }}
<time class="post-header__date"
{{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safe.HTMLAttr }}>
    {{ .Date | time.Format (compare.Default "January 2, 2006" .Site.Params.date_format) }}
</time>
{{ end }}