<footer class="site-footer" role="contentinfo">
  <div class="footer-shell">

    <div class="footer-inner">

      <a class="copyright" href="{{ .Site.Home.Permalink }}">
        &copy;
        {{ with .Site.Copyright | compare.Default .Site.Title }}
          {{ . | safe.HTML }} {{ now.Format "2006" }}
        {{ end }}
      </a>

      <div class="footer-social">
        {{ partials.IncludeCached "social/follow.html" . }}
      </div>

      {{ if .Site.Menus.footer }}
        <nav class="footer-menu">
          <ul class="footer-menu-list">
            {{ range .Site.Menus.footer }}
              <li>
                <a class="footer-link" href="{{ .URL }}">
                  {{ .Name }}
                </a>
              </li>
            {{ end }}
          </ul>
        </nav>
      {{ end }}

    </div>

  </div>
</footer>