{{ define "main" }}
<main class="section-page section-page--card site-container list-container">

<h1 class="page-title">{{ .Title }}</h1>

  {{ with .Content }}
<div class="section-intro section-intro--section-card prose">
      {{ . }}
</div>
  {{ end }}

  {{ if .Pages }}
<ul class="section-card-grid">
      {{ range .Pages.ByWeight }}
<li class="section-card">
<a class="section-card__link" href="{{ .RelPermalink }}">
            {{ with .Params.thumbnail }}
<span class="section-card__thumbnail-wrap">
<img class="section-card__thumbnail" src="{{ . | relURL }}" alt="">
</span>
            {{ end }}

<span class="section-card__title">{{ .Title }}</span>

            {{ if not .Date.IsZero }}
<span class="section-card__date">
                {{ .Date.Format "Jan 2, 2006" }}
</span>
            {{ end }}

            {{ with .Summary }}
<span class="section-card__summary">
                {{ . | plainify }}
</span>
            {{ end }}
</a>
</li>
      {{ end }}
</ul>
  {{ end }}

</main>
{{ end }}