{{ define "main" }}
<main class="pa3 pa4-ns w-100 w-70-ns center">
  <article>
    <h1>{{ .Title }}</h1>

    {{ with .Params.event_start }}
      <p>
        <strong>When:</strong>
        {{ time.Format "Monday, Jan 2, 2006, 3:04 PM" . }}
      </p>
    {{ end }}

    {{ with .Params.location }}
      <p>
        <strong>Where:</strong>
        {{ . }}
      </p>
    {{ end }}

    {{ with .Params.event_url }}
      <p>
        <strong>More Information:</strong>
        <a href="{{ . }}" target="_blank" rel="noopener">
          {{ . }}
        </a>
      </p>
    {{ end }}

    <p class="mt3">
      <a class="link dim br2 ph3 pv2 dib white bg-dark-blue" href="{{ .RelPermalink }}event.ics">
        Add to Calendar
      </a>
    </p>

    <div class="measure-wide mt4">
      {{ .Content }}
    </div>
  </article>
</main>
{{ end }}