<a class="content-card-link" href="{{ .RelPermalink }}">
  {{ with .CurrentSection.Title }}<span class="content-card-section">{{ . }}</span>{{ end }}
  <h3 class="content-card-title">{{ .Title }}</h3>

  {{ if or .Params.event_start .Params.location }}
    <span class="content-card-meta">
      {{- with .Params.event_start -}}
        {{ time.Format "Monday, Jan 2, 2006, 3:04 PM" . }}
      {{- end -}}
      {{- if and .Params.event_start .Params.location }} | {{ end -}}
      {{- with .Params.location -}}
        {{ . }}
      {{- end -}}
    </span>
  {{ end }}

  <span class="content-card-summary">
    {{ .Summary | plainify }}
  </span>
</a>