<a class="content-card__link" href="{{ .RelPermalink }}">
  {{ with .CurrentSection.Title }}<span class="content-card__section">{{ . }}</span>{{ end }}
<h3 class="content-card__title">{{ .Title }}</h3>

  {{ if or .Params.event_start .Params.location }}
<span class="content-card__meta">
      {{- with .Params.event_start -}}
        {{ time.Format "Monday, Jan 2, 2006, 3:04 PM" . }}
      {{- end -}}
      {{- if and .Params.event_start .Params.location }} | {{ end -}}
      {{- with .Params.location -}}
        {{ . }}
      {{- end -}}
</span>
  {{ end }}

<span class="content-card__summary">
    {{ .Summary | plainify }}
</span>
</a>