{{ define "main" }}
<main class="section-page site-container list-container">

  <h1 class="page_title">{{ .Title }}</h1>

  {{ with .Content }}
    <div class="section-intro">
      {{ . }}
    </div>
  {{ end }}

  {{ if .Pages }}
    <ul class="content-list">
      {{ range .Pages.ByDate.Reverse }}
        <li class="content-card">
          <h2 class="content-card-title">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h2>

          <p class="post-list-date">
            {{ .Date.Format "January 2, 2006" }}
          </p>

          {{ with .Summary }}
            <div class="content-summary">
              {{ . }}
            </div>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  {{ end }}

</main>
{{ end }}