<br>

<h2 class="events_h2">Recent Blog Posts</h2>

<div class="recent-posts">
  <div class="recent-posts-list">
    {{ range first 5 (where .Site.RegularPages.ByDate.Reverse "Section" "posts") }}
      <article class="recent-post">
        <a class="recent-post-link" href="{{ .RelPermalink }}">
          <span class="recent-post-title">
            {{ .Title }} →
          </span>

          <time class="recent-post-date" datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "Jan 2, 2006" }}
          </time>
        </a>
      </article>
    {{ end }}
  </div>
</div>