{{ define "main" }}
<main>
  {{ partials.Include "home_slider.html" . }}

<section class="site-container">
<div class="home__content-grid">

        {{ partials.Include "home_next_event.html" . }}

<div class="search-container">
        {{ partials.Include "home_search.html" . }}
</div>

        {{ partials.Include "home_recent_posts.html" . }}
        {{ partials.Include "featured_posts.html" . }}

<h2 class="events-heading">Homepage Photo Gallery</h2>

<div class="home-gallery__shell">
          {{ partial "home_gallery.html" . }}
</div>

</div>

</section>
</main>

{{ partials.Include "home_scripts.html" . }}
{{ end }}