{{ define "header" }}
  {{ partials.Include "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{- $related_content := .RegularPages.Related . -}}
  {{- $needs_aside := or .Params.toc $related_content -}}
  {{ $page := . }}
  {{ $section := .Site.GetPage "section" .Section }}

  {{/* Calculate a unique class for this post */}}
  {{- $post_class := "" -}}
  {{- with .File -}}
    {{- $post_class = printf "page-%s" .ContentBaseName -}}
  {{- end -}}

  <main class="site-container post-container">

    <article class="{{ $post_class }}">

      <header class="mb4">
        {{- partials.Include "hook.html" (dict "hook" "article/section-link" "context" .) -}}

        <h1 class="page_title">
          {{ .Title }}
        </h1>

        {{ with .Params.author | compare.Default .Site.Params.author }}
          <p class="tracked">
            {{- if compare.Eq $page.Language "de" "en" "es" "fr" "it" "no" "pt" -}}
              {{- lang.Translate "by" -}}
            {{ end }}
            <strong>
              {{- if reflect.IsSlice . -}}
                {{ collections.Delimit . ", " | transform.Markdownify }}
              {{- else -}}
                {{ . | transform.Markdownify }}
              {{- end -}}
            </strong>
          </p>
        {{ end }}

        {{ if and
            (not .Date.IsZero)
            (or
              (and
                (not (eq false site.Params.ananke.pages.show_date))
                (not (eq false .Params.ananke.show_date))
              )
              (and
                (eq false site.Params.ananke.pages.show_date)
                (eq true .Params.ananke.show_date)
              )
            )
        }}
          <time class="f6 dib tracked"
            {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safe.HTMLAttr }}>
            {{ .Date | time.Format (compare.Default "January 2, 2006" .Site.Params.date_format) }}
          </time>
        {{ end }}

      </header>

      <div class="post-content">

        {{ if and (eq .Section "posts") .Params.cover_image }}
          <figure class="post-cover">
            <img
              src="{{ .Params.cover_image | relURL }}"
              alt="{{ with .Params.cover_image_alt }}{{ . }}{{ else }}{{ .Title }}{{ end }}"
              loading="eager"
            >
          </figure>
        {{ end }}

        {{ .Content }}

        {{ partials.Include "tags.html" . }}

        {{ if .Site.Config.Services.Disqus.Shortname }}
          <div class="mt6 instapaper_ignoref">
            {{ partials.Include "disqus.html" . }}
          </div>
        {{ end }}

        {{ if .Site.Params.commentoEnable }}
          <div class="mt6 instapaper_ignoref">
            {{ partials.Include "commento.html" . }}
          </div>
        {{ end }}
      </div>

      {{ if $needs_aside }}
        <aside class="mt5">
          {{ partials.Include "menu-contextual.html" . }}
        </aside>
      {{ end }}

    </article>

  </main>
{{ end }}