{{ define "header" }}
  {{ partials.Include "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{- $related_content := .RegularPages.Related . -}}
  {{- $needs_aside := or .Params.toc $related_content -}}
  {{ $page := . }}

  {{- $post_class := "" -}}
  {{- with .File -}}
    {{- $post_class = printf "page-%s" .ContentBaseName -}}
  {{- end -}}

  {{ partials.Include "post-header-hero.html" . }}

  <main class="site-container post-container">

    <article class="{{ $post_class }}">

      {{ if not .Params.thumbnail }}
        <header class="post-header">
          {{ partials.Include "post-header-meta.html" $page }}
        </header>
      {{ end }}

      <div class="post-content prose">

        {{ .Content }}

        {{ partials.Include "tags.html" . }}

      </div>

      {{ if $needs_aside }}
        <aside class="post-aside">
          {{ partials.Include "menu-contextual.html" . }}
        </aside>
      {{ end }}

    </article>

  </main>
{{ end }}