{{ define "main" }}
  <main class="taxonomy-page site-container list-container tag-container">
    <h1 class="page_title">{{ .Title }}</h1>

    {{ with .Content }}
      <div class="section-intro prose">
        {{ . }}
      </div>
    {{ end }}

    <ul class="tag-index-list">
      {{ range .Data.Terms.Alphabetical }}
        <li class="tag-index-item">
          <a href="{{ .Page.RelPermalink }}" class="tag-index-link">
            {{ .Page.LinkTitle }}
          </a>
          <span class="tag-index-count">{{ .Count }}</span>
        </li>
      {{ end }}
    </ul>
  </main>
{{ end }}