{{ define "main" }}
  <main class="terms-page site-container list-container">
    <article>
      <h1 class="page_title">{{ .Title }}</h1>
      <div class="prose">
      {{ .Content }}
    </div>
    </article>

    {{ range $term := .Data.Pages }}
      <section class="terms-group">
        <h2 class="terms-group-title">
          <a href="{{ $term.RelPermalink }}" class="terms-group-link">
            {{ $.Data.Singular | inflect.Humanize }}: {{ $term.LinkTitle }}
          </a>
        </h2>
        <ul class="content-list">
          {{ range $term.Pages }}
            <li class="content-card">
              {{ .Render "summary" }}
            </li>
          {{ end }}
        </ul>
      </section>
    {{ end }}
  </main>
{{ end }}